<!DOCTYPE html>
<html>
    <%- include('./partials/index/head') %>

    <body>
        <%- include('./partials/index/header') %>

        <%- include('./partials/products/allProductsList') %>

        <%- include('./partials/index/footer') %>
    </body>
</html>