<header>
    <div class="container">
        <section class="main-nav_header row">
            <div class="col-5 col-md-3 col-lg-2">
                <a href="/">
                    <img class="logo" src="/images/logo-mercado-liebre.svg" alt="no se cargo">
                </a>
            </div>

            <div class="col-7 col-md-5 col-lg-6">
                <form class="search-form" action="" method="">
                    <input type="text" placeholder="Buscar productos" class="search-form_input">
                    <button class="search-form_button" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form> 
            </div>

            <div class="main-nav_credit-link col-12 col-md-4 col-lg-4">
                <a href="#" class="main-header_credit-link">
                    <i class="fas fa-hand-holding-usd"></i>
                    Compra en cuotas y sin tarjeta de credito
                </a>
            </div>
        </section>
        
        <section class="main-nav_header-options row">
            <div class="col-md-6">
                <ul class="main-nav_header-options_products">
                    <li>
                        <a href="">Ofertas</a>
                    </li>
                    <li>
                        <a href="">Tienda Oficial</a>
                    </li>
                    <li>
                        <a href="/products/create">Vender</a>
                    </li>
                    <li>
                        <a href="">Ayuda</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <ul class="main-nav_header-options_account">
                    <li>
                        <a href="">
                            Creá tu cuenta
                            <i class="far fa-address-card"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Ingresá
                            <i class="fas fa-shopping-basket"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Mis compras
                            <i class="fas fa-shopping-basket"></i>
                        </a>	
                    </li>
                </ul>
            </div>
        </section>

        <button class="btn-toggle-navbar">
            <i class="fas fa-bars"></i>
        </button>
    </div>

</header>